.Contact{
    color: #007ea7;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Add padding to prevent content from sticking to the edges */
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between form groups */
    width: 100%; /* Ensure form groups take up full width */
    max-width: 400px; /* Limit the width of the form groups */
  }
  
  .form-group label {
    flex: 0 0 120px; /* Adjust the width of the label */
    margin-right: 10px; /* Adjust spacing between label and input */
  }
  
  .form-group input,
  .form-group textarea {
    flex: 1; /* Input fields take up remaining space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Add more styling as needed */
  }
  p{
    margin-bottom: 0;
  }
  button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #007ea7;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #323031;
    margin: 20px;
}
  .sentBtn:active{
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
  
  